<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.future0923.debug.tools.test.spring.boot.mybatis.mapper.UserMapper">

    <select id="selectByNameAndAge" resultType="io.github.future0923.debug.tools.test.spring.boot.mybatis.model.User">
        select id,version from dp_user where name = #{name} and age = #{age}
    </select>

    <select id="caoayu" resultType="io.github.future0923.debug.tools.test.spring.boot.mybatis.model.UserVO">
        select
            id, name, age, version
        from dp_user
    </select>

    <update id="updateUser">
        <foreach collection="list" item="item" separator=";">
            update ${config.tableName}
            set ${config.age} = #{item.age}
            where ${config.id} = #{item.id}
        </foreach>
    </update>
</mapper>
