<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.future0923.debug.tools.test.application.dao.UserDao">

    <select id="selectByNameAndAge" resultType="io.github.future0923.debug.tools.test.application.domain.entity.User">
        select id,version from dp_user where name = #{name} and age = #{age}
    </select>
</mapper>
